*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #1E201E;
}

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    background-color: #1E201E;
    border-bottom: 1px solid #ECDFCC;
    padding-block: 1rem;
    width: 100%;
    position: fixed;
    top: 0;
    gap: 8px;
    z-index: 999;
}

nav h1{
    color: #ECDFCC;
    font-size: 2.2rem;
    /* border: 1px solid red; */
}

nav .nav-right{
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* border: 1px solid red; */
    align-items: center;
    /* justify-content: space-between; */
}

nav .nav-right .btn{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 0.5rem;
}

nav .nav-right .btn button{
    background-color: #ECDFCC;
    color: #1E201E;
    border: none;
    padding: 10px 15px;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
}

nav .nav-right input{
    /* border: 1px solid red; */
    width: 100%;
    padding: 0.3rem;
    font-size: 1rem;
    background: none;
    border: 1px solid #ECDFCC;
    color: #ECDFCC;
    border-radius: 4px;
}

.result-search{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 12rem;
    padding-inline: 10px;
    gap: 1rem;
    /* border: 1px solid red; */
}

.result-search .header{
    color: #ECDFCC;
    font-size: 1.3rem;
}

.result-search .card-wrapper{
    border: 1px solid #697565;
    display: grid;
    width: 100%;
    /* grid-template-columns: repeat(2, 1fr); */
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-template-columns: repeat(auto-fill, minmax(1fr, 2fr)); */
    /* grid-template-columns: 1fr; */
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    padding: 10px;
}

.result-search .card-wrapper .card{
    border: 1px solid #ECDFCC;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    /* position: sticky; */
    /* bottom: 0; */
    /* top: 8rem; */
    background-color: #1E201E;
}

/* .result-search .card-wrapper .card:hover{
    cursor: pointer;
} */

/* .result-search .card-wrapper:has(.card:hover) .card:not(:hover){
    filter: blur(4px)
} */

.result-search .card-wrapper .card .img-box{
    /* border: 1px solid red; */
    width: 100%;
}

.result-search .card-wrapper .card .img-box img{
    width: 100%;
}

.result-search .card-wrapper .card p{
    color: #ECDFCC;
    padding: 10px;
    font-size: 0.8rem;
}

.result-search .card-wrapper .card a{
    color: #1E201E;
    background-color: #ECDFCC;
    width: 100%;
    text-align: center;
    padding-block: 10px;
}

/* details */
.details-anime{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 12rem;
    padding-inline: 10px;
}

.details-anime .details-wrapper{
    border: 1px solid #697565;
    width: 100%;
    max-width: 768px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    gap: 10px;
}

.details-anime .details-wrapper img{
    border: 1px solid #697565;
    width: 100%;
    grid-column: 2/4;
}

.details-anime .details-wrapper .some-details{
    border: 1px solid #697565;
    grid-column: 1/5;
    color: #ECDFCC;
    padding: 10px;
}

.details-anime .details-wrapper .some-details p span{
    font-weight: 700;
}

.details-anime .details-wrapper .genre-details{
    color: #ECDFCC;
    border: 1px solid #697565;
    padding: 10px;
    grid-column: 1/5;
}

.details-anime .details-wrapper .genre-details span{
    font-weight: 700;
}

.details-anime .details-wrapper .synopsis-wrapper{
    border: 1px solid #697565;
    color: #ECDFCC;
    padding: 10px;
    grid-column: 1/5;
}

.details-anime .details-wrapper .synopsis-wrapper p span{
    font-weight: 700;
}

.details-anime .details-wrapper .studios-details{
    color: #ECDFCC;
    border: 1px solid #697565;
    padding: 10px;
    grid-column: 1/5;
}

.details-anime .details-wrapper .studios-details span{
    font-weight: 700;
}

.details-anime .details-wrapper .trailer-anime{
    color: #ECDFCC;
    border: 1px solid #697565;
    padding: 10px;
    grid-column: 1/5;
    width: 100%;
    height: 315px;
}

.details-anime .details-wrapper .null-trailer{
    color: #ECDFCC;
    border: 1px solid #697565;
    padding: 10px;
    grid-column: 1/5;
}

.details-anime .details-wrapper .chars-and-va-wrapper{
    grid-column: 1/5;
    /* border: 1px solid #697565; */
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.details-anime .details-wrapper .chars-and-va-wrapper .chars-and-va-card{
    display: flex;
    /* width: 100%; */
    border: 1px solid #697565;
    gap: 5px;
}

.details-anime .details-wrapper .chars-and-va-wrapper .chars-and-va-card img{
    max-width: 65px;
}

.details-anime .details-wrapper .chars-and-va-wrapper .chars-and-va-card .name-char{
    color: #ECDFCC;
    /* padding: 10px; */
    font-weight: 600;
    font-size: 0.7rem;
}

.details-anime .details-wrapper .chars-and-va-wrapper .chars-and-va-card .role-char{
    color: #697565;
    font-size: 0.7rem;
}

@media (min-width: 768px) {
    nav{
        flex-direction: row;
        justify-content: space-between;
        padding-inline: 1rem;
    }

    nav .nav-right{
        flex-direction: row;
    }
    
    nav input{
        font-size: 1.2rem;
        padding: 0.5rem;
    }

    .result-search{
        padding-block: 7rem;
    }

    .details-anime{
        padding-block: 8rem;
    }

    .details-anime .details-wrapper{
        grid-template-rows: repeat(3, auto);
    }

    .details-anime .details-wrapper img{
        grid-column: 1/3;
        grid-row: 1/4;
    }

    .details-anime .details-wrapper .some-details{
        grid-column: 3/5;
        grid-row: 1/2;
        /* max-height: 50%; */
    }

    .details-anime .details-wrapper .genre-details{
        grid-column: 3/5;
        grid-row: 2/3;
    }
    
    .details-anime .details-wrapper .studios-details{
        grid-column: 3/5;
        grid-row: 3/4;
    }
    
    /* .result-search .card-wrapper{
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    } */
}

/* @media (min-width: 1024px) {
    nav input{
        max-width: 40%;
    }
} */